/* Styles */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    /* grid-template-columns: 33.33% 200px 33.33%;
    grid-template-rows: 300px 300px;
     */

     grid-template: 300px 100px 100px / 50% 200px 100px;


}
.item{
    background-color: lightblue;
    padding: 10px;
    outline: 1px solid red;
}