/* Styles */
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    /* grid-template-columns: 33.33% 200px 33.33%;
    grid-template-rows: 300px 300px;
     */

     grid-template: 75px 1fr 75px / 300px 1fr;
     grid-gap: 15px;
     height: 100vh;


     grid-template-areas: "header header" "left contenido" "footer footer";
}

.header{
    grid-area: header;
}
.left{
    grid-area: left;
}

.contenido{
    grid-area: contenido;
}
.footer{
    grid-area: footer;
}



.item{
    background-color: lightblue;
    padding: 10px;
    outline: 1px solid red;
}
.item:nth-of-type(4){
    display: grid;
    grid-template: 50px 50px 50px / 33.33% 33.33% 33.33%;
    overflow: auto;
}
.item .item{
    background-color: yellow;
}